<%= form_tag("/search", method: "POST") do %>
  <div class="searchtag">
  	<%= label_tag(:location, "Enter zip or city/state:") %> 
  </div>
  
  <div class="textfield"> 
  	<%= text_field_tag :location %>

  	<br>
  	
  	<%= button_tag ("Search") %>
  </div>
<% end %>