<ul>
		<% @founded.businesses.each do |bars| %>
				Name: <%= bars.name %>
				Address: <%= bars.location.display_address[0] %>
		<% end %>
		

	<%= link_to '<button type="button">Search Again</button>'.html_safe, root_path %>
</ul>