
.form{
	margin-top: 10em;
	padding: 2em;
	background-color: rgba(0,0,0,.7);
	text-align: center;
	button{
		background-color: white;
		border-radius: 10%;
		margin-top: 1em;
	}
}

.results{
	padding: 2em;
	background-color: rgba(0,0,0,.5);
	color: white;
	border-radius: 10%;
	li{
		list-style-type: none;
	}
}

.searchtag{
	color: white;
	display: block;
}


