<!DOCTYPE html>
<html>
<head>
  <title>YelperHelper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<header class="col-sm-5 col-sm-offset-6 col-xs-10 col-xs-offset-1">
			<h1>Yelper Helper: Bar Finder</h1>
		</header>

		<%= yield %>
	</div>
</body>
</html>
